[flake8]
max-line-length = 88
extend-ignore = E203, E501, W503, E402, F401, F811, F841
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    chroma_db,
    build,
    dist
